<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crescendo Health!</title>
  </head>
  <body>
    <h1>Welcome to the future of health</h1>
    <div>
      <a href="{{ url_for('github_login') }}">
        <button>login
        <img
          src="{{ url_for('static',filename='/images/Octocat.png')}}"
          width="41px"
          ,
          height="42px"
          alt="Octocat"
        />
      </a>
    </div>
  </body>
</html>
